*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.top{
    margin-bottom: 15px;
    font-size: larger;
    text-align: center;
}
.container{
    box-shadow: 0 0 4px 1px gray;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;

}
.container p{
    color: blue;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputcontainer{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 80%;

}
.inputcontainer label{
    font-size: larger;
}
.inputcontainer input{
    border: none;
    outline: none;
    box-shadow: 0.1px 1px 2px gray;
    padding: 4px;
    font-size: large;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    
}